<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div
        class="alert alert-secondary d-flex justify-content-between align-items-center sticky-top"
      >
        <input type="text" placeholder=" WORD" />
        <button (click)="makeAjaxCall()" class="btn btn-secondary btn-sm">
          SEARCH
        </button>
      </div>

      <div
        class="border border-secondary d-flex justify-content-center align-items-center my-1"
        style="height: 100px"
        *ngFor="let item of list"
      >
        {{ item.title }}
      </div>
    </div>
  </div>
</div>
